.galleryContainer {
    height: 100vh;
    width: 98.8vw;
    padding: 1rem 1rem;
    background-color: white;
    margin-left:0px;
}

.galleryTitle {
    font-size: 2.5rem;
    font-weight: 400;
    color: #333;
    margin-bottom: 2rem;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; /* This creates gaps between all grid items */
    justify-items: center;
}

.galleryItem {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    overflow: hidden;
    width: 100%;
    max-width: 350px;
}

.galleryImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 1023px) {
    .galleryGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .galleryGrid {
        grid-template-columns: 1fr;
    }
}